@import "assets/scss";
.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4%;
    min-width: 200px;
    flex: 1;
}

.right-container-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    flex: 1;
}

.line {
    display: flex;
    height: 1px;
    width: 100%;
    background-color: $color-gray-e8;
}

.scroll {
    overflow-y: auto;
}

.jus-between {
    display: flex;
    justify-content: space-between;
}

.hover-text:hover {
    opacity: 0.8;
}