.body {
    display: flex;
    flex-direction: column;
    height: calc(var(--vh, 1vh) * 100);
}

.content {
    flex: 1;
    width: 100%;
    overflow: hidden;
}

.page {
    width: --vh;
    // width: calc(var(--vw, 1vh) * 100);
}


// ::-webkit-scrollbar {
//     width: 5px;
//     height: 5px;
// }
