.body {
    display: flex;
    flex-direction: column;
    height: calc(var(--vh, 1vh) * 100);
}

.content {
    flex: 1;
    width: 100%;
    overflow: hidden;
}

.page {
    width: --vh;
    // width: calc(var(--vw, 1vh) * 100);
}

//----------------LAYOUT----------------
.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.row-center {
    @extend .row;
    justify-content: space-between;
    align-items: center;
}

.flex {
    flex: auto;
}

//----------------TEXT----------------
.text-white {
    font-family: $font-regular;
    color: $color-white;
    text-align: center;
}

.text-black {
    font-family: $font-regular;
    color: $color-black;
}

.text-green {
    font-family: $font-regular;
    color: $color-green;
}

.text-gray {
    font-family: $font-regular;
    color: $color-gray2;
}

.text-red {
    font-family: $font-regular;
    color: $color-red;
}

.bold {
    font-family: $font-bold;
}

.medium {
    font-family: $font-medium;
}

.h1 {
    font-size: $text-h1;
}

.h2 {
    font-size: $text-h2;
}

.h3 {
    font-size: $text-h3;
}

.h4 {
    font-size: $text-h4;
}

.h5 {
    font-size: $text-h5;
}

.h6 {
    font-size: $text-h6;
}

.h7 {
    font-size: $text-h7;
}

.h8 {
    font-size: $text-h8;
}

.h9 {
    font-size: $text-h9;
}

.h10 {
    font-size: $text-h10;
}

.h11 {
    font-size: $text-h11;
}

//----------------PADDING-MARGIN----------------
.x5 {
    margin-right: 5px
}

.x10 {
    margin-right: 10px
}

.xl5 {
    margin-left: 5px
}

.xl10 {
    margin-left: 10px
}

.x50 {
    margin-right: 50px
}

.y10 {
    margin-top: 10px
}

.y15 {
    margin-top: 15px
}

.y20 {
    margin-top: 20px
}

.y30 {
    margin-top: 30px
}

.y40 {
    margin-top: 40px
}

.p5 {
    padding-right: 5px;
    padding-left: 5px;
}

.y40 {
    margin-top: 40px
}