@import "assets/scss";
.root-container {
    display: flex;
    height: 100%;
}
.left-container {
    display: flex;
    flex-direction: column;
    width: 66%;
    justify-content: center;
    align-items: center;

    .img-logo{
        width: auto;
        height: 90px;
    }
    .img-store{
        width: auto;
        height: 50px;
    }
    .img-qr{
        width: auto;
        height: 140px;
    }
}
.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 34%;
    padding: 2%;
}
.right-container-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 2%;
}
.line {
    display: flex;
    height: 1px;
    width: 100%;
    background-color: $color-gray-e8;
}
