@import "assets/scss";
.page-container {
    padding-bottom: 32px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    .container {
        color: $color-gray8;
    }
    .page-wrap {
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-self: center;
        margin-top: 8px;
    }
    .page-wrap-mobile {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .content-web-container {
        display: flex;
        flex-direction: column;
        height: 66vh;
        position: relative;
    }
    .content-mobile-container {
        display: flex;
        flex-direction: column;
        height: 72vh;
        position: relative;
    }
    .page-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .top-search-component {
        display: flex;
        align-self: center;
        width: 100%;
        padding: 0 0 16px 0;
        justify-content: space-between;
        @include mobile {
            width: 100%;
            padding: 0px;
        }
    }
    .right-top-search-component {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        user-select: none;
        padding-right: 16px;
        white-space: nowrap;
        &:hover {
            opacity: 0.8;
        }
        &:active {
            opacity: 0.6;
        }
    }
    .title {
        justify-content: flex-start;
        display: flex;
        align-items: center;
    }
    .title-mobile {
        margin: 24px 0px;
    }
    .picker-container {
        display: flex;
        text-align: left;
    }
    .scroll-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 80vh;
        overflow: auto;
        overflow-x: hidden;
         ::-webkit-scrollbar {
            display: none;
        }
        @include tablet {
            height: 85vh;
        }
    }
    .scroll-web-container {
        display: flex;
        width: 100%;
        flex-direction: column;
        height: 80vh;
        overflow: auto;
         ::-webkit-scrollbar {
            display: none;
        }
    }
    .container {
        display: flex;
        justify-content: center;
    }
    .table-web-container {
        width: 80%;
        display: flex;
        align-self: center;
        flex-direction: column;
        padding-top: 16px;
        border: 1px solid $color-gray5;
        box-shadow: $box-shadow;
        border-radius: 8px;
        margin: 24px 0;
    }
}

.table-mobile-container {
    padding: 0px 16px 32px;
}

.tabs-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.content-item-picker-text {
    color: $color-gray2;
    font-family: $font-regular;
    font-size: $text-h7;
    display: flex;
    width: 100%;
    padding: 10px 16px 11px 16px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.button-see-more {
    align-self: center;
    justify-content: center;
    margin-bottom: 32px;
    width: 100%;
    padding: 0 16px;
}

.label-button-see-more {
    padding: 6px;
    font-size: $text-h7;
    font-family: $font-medium;
}

.min-height-list {
    min-height: 20vh;
}