@import "assets/scss";
.container {
    display: flex;
    flex-wrap: nowrap;
    height: 93vh;
    overflow-y: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}

.padding {
    padding: 2% 6%;
    @include mobile {
        padding: 2%;
    }
}

.profile {
    width: 30%;
    gap: 32px;
    margin-right: 2%;
    background: $color-white;
    border: 1px solid $color-gray5;
    box-shadow: 0px 4px 15px $color-t-gray;
    border-radius: 8px;
    height: fit-content;
}

.avatar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

.avatar label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 4px;
    background-color: $color-red-r1;
    border-radius: 8px;
    margin-top: 8px;
    width: 97%;
}

.information {
    display: flex;
}

.wid-70 {
    width: 70%;
}

.wid-100 {
    width: 100%;
}

.line {
    border-bottom: 1px solid $color-gray5;
    width: 100%;
}

.focus {
    background-color: $color-green-input;
}

.hover :hover {
    background-color: $color-green-input;
}

.top {
    padding: 16px 10px;
    background-color: $color-gray-e8;
}

.un-verify-text {
    font-size: $text-h6;
    font-family: $font-medium;
    color: $color-red
}

.verify-text {
    font-size: $text-h6;
    font-family: $font-medium;
    color: $color-green-header
}

.wait-verify-text {
    font-size: $text-h6;
    font-family: $font-medium;
    color: $color-yellow
}

.un-verify-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 4px;
    background-color: $color-red-r1;
    border-radius: 8px;
    margin-top: 8px;
    width: calc(100% - 32px);
}

.verify-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 4px;
    background-color: $color-green2;
    border-radius: 8px;
    margin-top: 8px;
    width: calc(100% - 32px);
}

.wait-verify-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 4px;
    background-color: $color-yellow-y1;
    border-radius: 8px;
    margin-top: 8px;
    width: calc(100% - 32px);
}