.header_side {
    display: flex;
    width: calc(var(--vw)* 25);
    height: 60px;
    align-items: center;
}

.header {
    &_left {
        @extend .header_side;
        justify-content: right;
    }
    &_right {
        @extend .header_side;
        justify-content: left;
    }
}

.icon-tienngay {
    width: 200px;
}

.icon-menu {
    width: 30px;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}