@import 'assets/scss';
.page-container {
    width: 100%;
    overflow: auto;
    height: 92vh;
}

.all-content-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    gap: 24px;
    padding-bottom: 60px;
}

.all-content-container-mobile {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding: 0 16px 60px 16px;
}