@import 'assets/scss';
.page-container {
    padding-bottom: 32px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    .page-wrap {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        align-self: center;
    }
    .page-wrap-mobile {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .content-web-container {
        display: flex;
        flex-direction: column;
        height: 66vh;
        position: relative;
    }
    .content-mobile-container {
        display: flex;
        flex-direction: column;
        height: 72vh;
        position: relative;
    }
    .top-search-component {
        border-radius: 8px;
        border: 1px solid $color-gray5;
        display: flex;
        padding: 16px 0;
        box-shadow: $box-shadow;
        margin-top: 30px;
        width: 80%;
    }
    .top-search-mobile-component {
        display: flex;
        padding: 24px 16px;
        justify-content: space-between;
        align-items: center;
        background-color: $color-gray10;
        -ms-overflow-style: none;
        scrollbar-width: none;
        width: calc(100% - 32px);
    }
    .top-search-mobile-component::-webkit-scrollbar {
        display: none;
    }
    .right-top-search-component {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        user-select: none;
        &:hover {
            opacity: 0.8;
        }
        &:active {
            opacity: 0.6;
        }
    }

    .top-intro {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .picker-container {
        display: flex;
        text-align: left;
    }
    .text-your-chance {
        font-family: $font-medium;
        font-size: $text-h4;
        color: $color-black;
    }
    .text-your-mobile-chance {
        font-family: $font-medium;
        font-size: $text-h6;
        color: $color-black;
    }
    .text-your-chance-search {
        font-family: $font-medium;
        font-size: $text-h6;
        color: $color-green-header;
    }
    .top-button {
        display: flex;
        position: fixed;
        bottom: 0;
        right: 0;
        box-shadow: $box-shadow;
        width: 60px;
        height: 60px;
        text-align: center;
        border: 1px solid $color-gray5;
        background-color: $color-white;
        border-radius: 60px;
        justify-content: center;
        align-items: center;
        margin: 0 30px 50px 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &:hover {
            opacity: 0.9;
            animation: shake 0.9s ease 1;
        }
        &:active {
            opacity: 0.7;
        }
    }
    .col-history {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .top-button-mobile {
        display: flex;
        position: fixed;
        bottom: 0;
        right: 0;
        box-shadow: $box-shadow;
        width: 40px;
        height: 40px;
        text-align: center;
        border: 1px solid $color-gray5;
        background-color: $color-white;
        border-radius: 60px;
        justify-content: center;
        align-items: center;
        margin: 0 18px 80px 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &:hover {
            opacity: 0.9;
            animation: shake 0.9s ease 1;
        }
        &:active {
            opacity: 0.7;
        }
    }
    .top-button-hide {
        display: none;
    }
    @keyframes shake {
        0%,
        100% {
            transform: rotate(5deg);
        }
        10%,
        30%,
        50%,
        70%,
        90% {
            transform: rotate(2deg);
        }
        20%,
        40%,
        60%,
        80% {
            transform: rotate(-5deg);
        }
    }
}

.bottom-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-top: 24px;
    &::-webkit-scrollbar {
        display: none;
    }
}

.flat-list {
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 80%;
    display: flex;
    align-self: center;
    flex-direction: column;
    &::-webkit-scrollbar {
        display: none;
    }
}

.flat-list-mobile {
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: calc(100% - 32px);
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    &::-webkit-scrollbar {
        display: none;
    }
}

.button-see-more {
    align-self: center;
    justify-content: center;
    margin-top: 24px;
    width: 100%;
}

.content-item-picker-text {
    color: $color-gray2;
    font-family: $font-regular;
    font-size: $text-h7;
    display: flex;
    width: 100%;
    padding: 10px 16px 11px 16px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.footer {
    margin: 40px 0 0 0;
}
