@import 'assets/scss';
.page-container {
    padding-bottom: 32px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    .page-wrap {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        align-self: center;
    }
    .page-wrap-mobile {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .content-web-container {
        display: flex;
        flex-direction: column;
        height: calc(63vh + 18px);
        overflow: hidden;
        position: relative;
        @include tablet {
            height: calc(65vh + 24px);
        }
    }
    .content-mobile-container {
        display: flex;
        flex-direction: column;
        height: 72vh;
        overflow: hidden;
        position: relative;
    }
    .top-search-component {
        border-radius: 8px;
        border: 1px solid $color-gray5;
        display: flex;
        padding: 16px 0;
        box-shadow: $box-shadow;
        margin-top: 30px;
        width: 80%;
    }
    .top-search-mobile-component {
        display: flex;
        padding: 24px 16px;
        justify-content: space-between;
        align-items: center;
        background-color: $color-gray10;
        width: calc(100% - 32px);
    }
    .right-top-search-component {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        user-select: none;
        &:hover {
            opacity: 0.8;
        }
        &:active {
            opacity: 0.6;
        }
    }
    .top-intro {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .picker-container {
        display: flex;
        text-align: left;
    }
    .text-your-chance {
        font-family: $font-medium;
        font-size: $text-h4;
        color: $color-black;
    }
    .text-your-mobile-chance {
        font-family: $font-medium;
        font-size: $text-h6;
        color: $color-black;
    }
    .text-your-chance-search {
        font-family: $font-medium;
        font-size: $text-h6;
        color: $color-green-header;
    }
    .col-history {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
}

.bottom-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 24px;
    &::-webkit-scrollbar {
        width: 6px;
    }
}

.flat-list {
    width: 80%;
    display: flex;
    align-self: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.flat-list-mobile {
    width: calc(100% - 32px);
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.button-see-more {
    align-self: center;
    justify-content: center;
    margin-top: 24px;
    width: 100%;
}

.content-item-picker-text {
    color: $color-gray2;
    font-family: $font-regular;
    font-size: $text-h7;
    display: flex;
    width: 100%;
    padding: 10px 16px 11px 16px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.label-button-see-more {
    padding: 6px;
    font-size: $text-h7;
    font-family: $font-medium;
}

.footer {
    width: 100vw;
}

.min-height-list {
    min-height: 20vh;
    overflow: hidden;
}