@import "assets/scss";
.page {
    display: flex;
    flex-direction: row;
    max-height: 100vh;
    height: 85vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.padding {
    padding: 2% 10%;
    @include mobile() {
        padding: 10px 5px;
    }
}

.container-left {
    display: flex;
    flex: 2;
    flex-direction: column;
    background-color: $color-white;
}

.container-right {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: $color-white;
    padding: 0px 10px;
}

.line-bottom {
    display: flex;
    border-bottom: 1px solid $color-gray-e8;
    width: 100%;
}

.img {
    width: calc(100% - 20px);
}

.scroll-y {
    overflow-y: auto;
    width: 100vw;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.content-view {
    width: calc(100% - 10px);
}

.padding-top {
    padding-top: 40px;
}

.style {
    text-decoration: none;
}