@import "assets/scss";
.input {
    padding: 10px 15px;
    border: 1px solid $color-gray;
    margin-right: 10px;
    border-radius: 5px;
}

.input:hover {
    border: 1px solid $color-green;
}

.container-input {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 15px;
}

.message-error {
    margin: 5px 0px 0 0px;
    background-color: $color-white;
}

.container {
    min-width: 30vw;
}

.hover-text:hover {
    opacity: 0.8;
}