@import "assets/scss";

.footerContainer{
background-color: $color-green-header;
}

.box-footer-top {
  padding: 2% 12%;
}
h3 {
  margin: 0;
  margin-bottom: 4px;
  font-size: 20px;
  line-height: 32px;
  color: $color-white;
}

.box-footer-left {
  display: flex;
  align-items: center;
}
.content-footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.box-information {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.information {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.style-input-input {
  display: flex;
  justify-content: space-between;
}

.box-footer-right {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.textarea-footer {
  width: 100%;
  outline: none;
  border: none;
  padding: 16px;
}

.btn-footer-style {
  width: 100%;
  background-color: $color-white;
}
