@import "assets/scss";

.footerContainer {
  background-color: $color-green-header;
  color: $color-white;
}

.box-footer-top {
  padding: 24px 12%;
}

.content-footer-left {
  align-items: flex-start;
  gap: 15px;
}

.textarea-footer {
  width: 100%;
  outline: none;
  border: none;
  padding: 16px 24px 36px 16px;
}

.btn-footer-style {
  width: 100%;
  background-color: $color-white;
}

.box-footer-bottom {
  padding: 24px 12%;
  border-top: 1px solid $color-white;
  gap: 10px;
}

.style-input {
  width: 100%;
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.3);
  padding: 12px;
  color: $color-white;
}
.style-input::placeholder {
  color: $color-white;
}
