@import "assets/scss";

.footer-container {
  background-color: $color-green-header;
  color: $color-white;
}

.box-footer-top {
  padding: 24px 12%;
}

.content-footer-left {
  align-items: flex-start;
}

.textarea-container {
  height: 100px;
  padding: 8px 0px;
}

.textarea-footer {
  width: 100% !important;
  height: 100px !important;
  outline: none;
  border: none;
  background: $color-transparent-footer;
  color: $color-white;
  padding: 8px 10px;
}

.textarea-footer::placeholder {
  color: $color-white;
}

.btn-footer-style {
  width: 100%;
  background-color: $color-white;
}

.box-footer-bottom {
  padding: 24px 12%;
  border-top: 1px solid $color-white;
  gap: 10px;
}

.style-input {
  width: 100%;
  outline: none;
  border: none;
  background: $color-transparent-footer;
  padding: 12px;
  color: $color-white;
}
.style-input::placeholder {
  color: $color-white;
}

@media screen and (max-width: 768px) {
  .box-footer-top {
    padding: 5% 6%;
  }
  .box-footer-bottom {
    padding: 24px 4%;
  }
}
