@import 'assets/scss';
.top-button {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    box-shadow: $box-shadow;
    width: 60px;
    height: 60px;
    text-align: center;
    border: 1px solid $color-gray5;
    background-color: $color-white;
    border-radius: 60px;
    justify-content: center;
    align-items: center;
    margin: 0 30px 50px 0;
    z-index: 10000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    &:hover {
        opacity: 0.9;
        // animation: shake 0.9s ease 1;
    }
    &:active {
        opacity: 0.7;
    }
    @include tablet {
        margin: 0 30px 100px 0;
    }
}

.top-button-mobile {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    box-shadow: $box-shadow;
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid $color-gray5;
    background-color: $color-white;
    border-radius: 60px;
    justify-content: center;
    align-items: center;
    margin: 0 8px 80px 0;
    z-index: 10000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    &:hover {
        opacity: 0.9;
        // animation: shake 0.9s ease 1;
    }
    &:active {
        opacity: 0.7;
    }
}

.top-button-hide {
    display: none;
}

@keyframes shake {
    0%,
    100% {
        transform: (5deg);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: rotate(2deg);
    }
    20%,
    40%,
    60%,
    80% {
        transform: rotate(-5deg);
    }
}
