@import "assets/scss";
.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4%;
    flex: 1;
}

.right-container-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    flex: 1;
}

.line {
    display: flex;
    height: 1px;
    width: 100%;
    background-color: $color-gray-e8;
}

.scroll {
    overflow-y: auto;
}

.jus-between {
    display: flex;
    justify-content: space-between;
}

.input {
    padding: 10px 15px;
    border: 1px solid $color-gray;
    margin-right: 10px;
    border-radius: 5px;
}

.input:hover {
    border: 1px solid $color-green;
}

.container-input {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 15px;
}

.message-error {
    margin: 5px 0px 0 0px;
    background-color: $color-white;
}