@import "assets/scss";
.page {
    display: flex;
    width: 100%;
    border: 1px solid $color-gray5;
    box-shadow: $box-shadow;
}

.padding {
    padding: 16px;
}

.img {
    width: 100px;
    // height: 46px;
    @include mobile {
        // width: 100px;
    }
}

.content-container {
    display: flex;
    background-color: $color-white;
    padding: 12px 16px;
    border: 1px solid $color-gray-e8;
    border-radius: 5px;
    box-shadow: $box-shadow;
    align-items: center;
    justify-content: space-between;
}

.img-small {
    width: 30px;
}

.align-center {
    align-items: center;
}